.table-responsive {
  overflow-x: auto;
}

.btn-ver-comentarios {
  background-color: $color-black-1;
  color: $color-white-1;
  font-weight: bold;
  font-size: 12px;
  padding: 10px 20px;
  border-radius: 5px;
}
.btn-ver-comentarios:hover {
  background-color: $color-white-1;
  color: $color-black-1;
  cursor: pointer;
  border: 1px solid $color-black-1;
}

.centrar-sin-datos {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
}
