.listado-pedidos-container {
  display: grid;
  height: 70vh;
  background-color: $color-white-1;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "numero-listado-pedidos";
}

.numero-listado-pedidos {
  display: grid;
  grid-template-columns: 20px 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    ". titulo-listado-pedidos"
    ". table-listado-pedidos";
}

.titulo-listado-pedidos {
  grid-area: titulo-listado-pedidos;
  font-size: 25px;
}

.table-listado-pedidos {
  grid-area: table-listado-pedidos;
}
