.container-sidebar {
  background-color: $color-black-1;
  display: grid;
  grid-template-areas:
    "."
    "sidebar-options";
  grid-template-columns: 1fr;
  grid-template-rows: 20vh 1fr;
  height: 100vh;
  //   justify-items: center;
  width: 30vh;
}

.sidebar-options {
  display: grid;
  grid-area: sidebar-options;
  grid-template-columns: 1fr;
  grid-template-rows: 100px;
}

.sidebar-option {
  color: $color-white-1;
  cursor: pointer;
  display: grid;
  gap: 10px;
  grid-template-columns: 70px 70px;
  max-height: 30px;
  justify-items: center;
  padding: 0;
  margin: 0;
}

.sidebar-option:hover {
  background-color: $color-rgba-yello-1;
  border-radius: 3px;
  color: $color-yellow-1;
  cursor: pointer;
  display: grid;
  gap: 10px;
  grid-template-columns: 70px 70px;
  max-height: 50px;
  justify-items: center;
  padding: 0;
  margin: 0;
}
