// COLORS

// BLACK
$color-black-1: #000000;
$color-black-2: #3b3a3a;

// BLACK RGBA
$color-black-rgba-1: rgba(89, 88, 88, 0.39);

// GRAY
$color-gray-1: #d3d3d3;

// WHITE
$color-white-1: #ffffff;
$color-white-2: #f8f8f8;

// YELLOW
$color-yellow-1: #e8aa03;
$color-yellow-2: #efae00;

$color-blue-1: rgb(0, 110, 255);

// GREEN
$color-green-1: #04d60c;

// RED
$color-red-1: #f04848;

// RGBA COLORS
$color-rgba-yello-1: rgba(255, 230, 8, 0.425);
