// COLORS

// BLACK
$color-black-1: #000000;
$color-black-2: #3B3A3A;

// WHITE
$color-white-1: #FFFFFF;
$color-white-2: #F8F8F8;

// YELLOW
$color-yellow-1: #E8AA03;
$color-yellow-2: #EFAE00;

// GREEN
$color-green-1: #04D60C;

// RED
$color-red-1: #F04848;